@import "bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Danfo:ELSH@0..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
body,
html {
  font-family: "Montserrat" !important;
  background-color: #100817 !important;
  font-family: 400;
  overflow-x: hidden;
}

.MuiAvatar-root {
  width: 60px;
  height: 60px;
}

.CopyRight {
  padding: 10px 0;
  background-color: white;
}
.CopyRight .container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 767px) {
  .container {
    display: block !important;
    text-align: center;
    line-height: 2;
  }
}
@media (max-width: 1200px) {
  .MuiAvatar-root {
    width: 45px;
    height: 45px;
  }
}
.HomePage {
  color: white;
  padding-bottom: 20px;
}
.HomePage .helloWprd {
  color: transparent;
  -webkit-text-stroke: 4px #77727c;
  font-size: 203px;
  position: relative;
  top: -108px;
  opacity: 0.4;
  text-align: center;
  font-weight: 900;
  font-family: "Syne";
}
.HomePage .container {
  max-width: 1600px;
}
.HomePage .row {
  margin-top: -110px;
  padding: 0px 15px;
}
.HomePage .Info-Card {
  position: relative;
}
.HomePage .Info-Card::before {
  position: absolute;
  content: "";
  animation: fade2 3s linear 1s infinite alternate-reverse;
  animation-delay: 1s;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  top: 92%;
  left: -2%;
  background-color: transparent;
}
.HomePage .Info-Card .top-head {
  font-size: 29px;
  color: #bbbbbb;
}
.HomePage .Info-Card .name,
.HomePage .Info-Card .job {
  font-family: "Syne", sans-serif;
  position: relative;
  z-index: 1;
  font-size: 60px;
  font-weight: 800;
}
.HomePage .Info-Card .name span,
.HomePage .Info-Card .job span {
  font-family: "Danfo", serif;
  font-weight: 100;
  color: #d401f0;
  display: inline-block;
  transform: rotate(13deg);
}
.HomePage .Info-Card .squar {
  position: absolute;
  top: -44px;
  left: -171px;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  background: linear-gradient(45deg, #5600f7, #d401f0);
}
.HomePage .Info-Card .squar::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  border: 2px solid #5600f7;
  border-radius: 4px;
  top: -20px;
  left: -20px;
}
.HomePage .Info-Card .exp {
  margin-top: 30px;
  position: relative;
  color: rgba(255, 255, 255, 0.932);
  font-size: 26px;
  font-family: "Syne", sans-serif;
}
.HomePage .Info-Card .buttons {
  margin-top: 45px;
  position: relative;
}
.HomePage .Info-Card .buttons .cv,
.HomePage .Info-Card .buttons .work {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.HomePage .Info-Card .buttons .cv {
  margin-right: 20px;
  background: linear-gradient(45deg, #5600f7, #d401f0);
}
.HomePage .Info-Card .buttons .work {
  background: linear-gradient(45deg, #5600f7, #d401f0);
  padding: 2px;
}
.HomePage .Info-Card .buttons .work span {
  background-color: #100817;
  display: block;
  height: 100%;
  padding: 15px;
  border-radius: 5px;
}
.HomePage .Info-Card .Avatars {
  background-color: rgba(63, 57, 69, 0.6901960784);
  width: -moz-fit-content;
  width: fit-content;
  padding: 21px 30px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 11px;
  margin-top: 45px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.HomePage .Info-Card .Avatars .recent {
  margin-left: 26px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}
.HomePage .Image-Card {
  position: relative;
}
.HomePage .Image-Card .img-fluid {
  position: relative;
  display: block;
  margin: auto auto;
}
.HomePage .Image-Card::before {
  position: absolute;
  content: "";
  animation: fade1 3s linear 1s infinite alternate-reverse;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  top: 50%;
  left: 30%;
  background-color: transparent;
}
.HomePage .Image-Card .socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.HomePage .Image-Card .socials .icon {
  background-color: rgba(255, 255, 255, 0.665);
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  margin-top: 15px;
  color: black;
}
@keyframes fade1 {
  0% {
    box-shadow: 0px 0px 70px 76px rgba(212, 1, 240, 0.6);
  }
  100% {
    box-shadow: 0px 0px 125px 140px rgba(212, 1, 240, 0.6);
  }
}
@keyframes fade2 {
  0% {
    box-shadow: 0px 0px 70px 76px rgba(86, 0, 247, 0.6901960784);
  }
  100% {
    box-shadow: 0px 0px 125px 140px rgba(86, 0, 247, 0.6901960784);
  }
}
@media (max-width: 1550px) {
  .HomePage .Info-Card .job,
  .HomePage .Info-Card .name {
    font-size: 52px;
  }
}
@media (max-width: 1400px) {
  .HomePage .Image-Card .img-fluid {
    max-width: 83%;
  }
  .HomePage .helloWprd {
    font-size: 163px;
    top: -79px;
  }
  .HomePage .row {
    margin-top: -80px;
  }
  .HomePage .Info-Card .job,
  .HomePage .Info-Card .name {
    font-size: 44px;
  }
  .HomePage .Info-Card .top-head {
    font-size: 26px;
  }
  .HomePage .Info-Card .exp {
    font-size: 21px;
  }
}
@media (max-width: 1200px) {
  .HomePage .Info-Card .name,
  .HomePage .Info-Card .job {
    font-size: 37px;
  }
  .HomePage .Info-Card .exp {
    font-size: 18px;
  }
  .HomePage .Info-Card .top-head {
    font-size: 23px;
  }
  .HomePage .Info-Card .Avatars .recent {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .HomePage .helloWprd {
    font-size: 105px;
    top: -46px;
  }
  .HomePage .row {
    margin-top: -40px;
  }
  .HomePage .Info-Card {
    text-align: center;
  }
  .HomePage .Info-Card .buttons {
    justify-content: center;
  }
  .HomePage .Info-Card .name,
  .HomePage .Info-Card .job {
    font-size: 53px;
  }
  .HomePage .Info-Card .Avatars {
    margin: 50px auto;
  }
}
@media (max-width: 767px) {
  .HomePage .helloWprd {
    font-size: 58px;
    top: -22px;
  }
  .HomePage .row {
    margin-top: -10px;
    padding: 0;
  }
  .HomePage .Info-Card::before {
    top: 38%;
    left: 94%;
  }
  .HomePage .Info-Card .job,
  .HomePage .Info-Card .name {
    font-size: 30px;
    line-height: 1.8;
  }
  .HomePage .Info-Card .buttons {
    justify-content: space-around;
  }
  .HomePage .Info-Card .buttons .cv {
    margin-right: 0;
  }
  .HomePage .Info-Card .Avatars {
    padding: 21px;
    width: 100%;
  }
  .HomePage .Info-Card .Avatars .recent {
    margin-left: 13px;
    text-align: left;
    font-size: 16px;
  }
  .HomePage .Info-Card .squar {
    top: -19px;
    left: -25px;
    z-index: 0;
    width: 64px;
    height: 64px;
  }
  .HomePage .Info-Card .squar::before {
    width: 100px;
    height: 100px;
    top: -18px;
    left: -18px;
  }
  .HomePage .Image-Card .img-fluid {
    display: inline;
    max-width: 73%;
  }
  .HomePage .Image-Card .socials {
    right: 27px;
  }
}

.ResponsiveAppBar {
  color: white;
  background-color: rgba(63, 57, 69, 0.968627451);
  position: relative;
  z-index: 1;
  max-width: 84%;
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid #5b5b5b;
}
.ResponsiveAppBar .logo {
  font-family: "Syne", sans-serif;
  font-size: 27px;
}
.ResponsiveAppBar .logo span {
  color: #d401f0;
}
.ResponsiveAppBar .logo-MobileView {
  font-size: 18px;
}
.ResponsiveAppBar .menu {
  margin-left: -10px;
  justify-content: center;
}
.ResponsiveAppBar .menu .Link {
  margin-right: 51px;
  text-decoration: none !important;
  color: white;
  font-size: 18px;
}
.ResponsiveAppBar .menu .active {
  position: relative;
  display: inline-block;
}
.ResponsiveAppBar .menu .active::before, .ResponsiveAppBar .menu .active::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 145%;
  transition: 0.3s;
  top: -5px;
}
.ResponsiveAppBar .menu .active::before {
  border-left: 2px solid #d401f0;
  border-bottom: 2px solid #d401f0;
  left: -12px;
}
.ResponsiveAppBar .menu .active::after {
  border-right: 2px solid #d401f0;
  border-top: 2px solid #d401f0;
  right: -12px;
  top: -6px;
}
.ResponsiveAppBar .menu .active:hover::after, .ResponsiveAppBar .menu .active:hover::before {
  width: 143%;
}
.ResponsiveAppBar .hire {
  background: linear-gradient(45deg, #5600f7, #d401f0);
  font-size: 22px;
  padding: 17px;
  border-radius: 10px;
  cursor: pointer;
}
@media (max-width: 1300px) {
  .ResponsiveAppBar {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .ResponsiveAppBar .menu {
    margin-left: 0;
  }
  .ResponsiveAppBar .menu .Link {
    font-size: 15px;
    margin-right: 35px;
  }
  .ResponsiveAppBar .logo {
    font-size: 24px;
  }
  .ResponsiveAppBar .hire {
    font-size: 13px;
    padding: 13px;
  }
}
@media (max-width: 900px) {
  .ResponsiveAppBar {
    padding: 10px 0;
    width: 92%;
    margin-top: 20px;
  }
  .ResponsiveAppBar .logo {
    display: none;
  }
}

.Drawer {
  border-right: 2px solid #810092 !important;
  height: 100vh !important;
  background: #3f3945 !important;
  color: white;
}
.Drawer .logo {
  margin-top: 90px;
  text-align: center;
}
.Drawer .logo .name {
  font-size: 23px;
  font-size: 25px;
  margin-top: -10px;
  font-family: "Syne", sans-serif;
}
.Drawer .info {
  text-align: center;
}
.Drawer .Link {
  display: block;
  color: white;
  text-decoration: none !important;
  margin-left: 9px;
  margin-top: 20px;
}
.Drawer .active {
  margin-top: 45px;
}

.RecentWork {
  margin-top: 100px;
  text-align: center;
  color: white;
}
.RecentWork .container {
  max-width: 83%;
}
.RecentWork .top {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.725);
}
.RecentWork .head {
  margin: 5px auto;
  font-size: 35px;
  font-weight: 700;
}
.RecentWork .head span {
  background: linear-gradient(45deg, #5600f7, #d401f0);
  padding: 4px;
}
.RecentWork .row {
  margin-top: 67px;
}
.RecentWork .Image-Card {
  overflow: hidden;
  border-radius: 15px;
}
.RecentWork .img-fluid {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.2s;
}
.RecentWork .img-fluid:hover {
  filter: brightness(0.8);
}
@media (max-width: 992px) {
  .RecentWork .Image-Card {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .RecentWork .container {
    max-width: 97%;
  }
  .RecentWork .row {
    margin-top: 7px;
  }
  .RecentWork .top {
    font-size: 17px;
  }
  .RecentWork .head {
    font-size: 21px;
  }
}

.AboutMe {
  margin-top: 120px;
  color: white;
  position: relative;
}
.AboutMe .bg-line {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/about.png") no-repeat;
  background-size: cover;
  left: 0;
  opacity: 0.4;
}
.AboutMe .container {
  max-width: 83%;
}
.AboutMe .top {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.853);
}
.AboutMe .head {
  font-size: 38px;
  font-weight: 700;
  position: relative;
  z-index: 1;
}
.AboutMe .head span {
  font-family: "Danfo", serif;
  display: inline-block;
  color: #d401f0;
  transform: rotate(13deg);
}
.AboutMe .Info-Card {
  background-color: #3f3945;
  position: relative;
  margin-top: 40px;
  z-index: 2;
  text-align: center;
  padding: 40px 20px;
  width: calc(25% - 25px);
  margin: 10px auto;
  border: 2px solid rgba(103, 99, 107, 0.7607843137);
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
}
.AboutMe .Info-Card .icon {
  width: 100px;
  padding: 22px;
  height: 100px;
  border-radius: 8px;
  background: linear-gradient(45deg, #5600f7, #d401f0);
}
.AboutMe .Info-Card .header {
  font-weight: 700;
  margin-top: 20px;
  font-size: 22px;
}
.AboutMe .Info-Card .info {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.63);
  font-size: 17px;
  font-weight: 500;
}
.AboutMe .custom-Magin {
  margin-top: 100px;
}
@media (max-width: 992px) {
  .AboutMe .container {
    max-width: 100%;
  }
  .AboutMe .Info-Card {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .AboutMe {
    margin-top: 60px;
  }
  .AboutMe .Info-Card {
    width: 95%;
    margin-top: 0px;
  }
  .AboutMe .loremCard {
    display: none !important;
  }
}

.Skills {
  color: white;
  margin-top: 100px;
}
.Skills .container {
  max-width: 83%;
}
.Skills .skills-Details {
  margin-top: 19px;
}
.Skills .skills-Details .lable {
  font-size: 22px;
  font-weight: 700;
}
.Skills .skills-Details .progress-container {
  background-color: white;
  height: 5px;
  width: 100%;
}
.Skills .skills-Details .progress-width {
  background: linear-gradient(45deg, #5600f7, #d401f0);
  height: 100%;
  position: relative;
}
.Skills .skills-Details .progress-width::before {
  position: absolute;
  content: attr(data-degree);
  -webkit-clip-path: polygon(100% 0, 100% 46%, 48% 100%, 0 46%, 0 45%, 0% 0%);
          clip-path: polygon(100% 0, 100% 46%, 48% 100%, 0 46%, 0 45%, 0% 0%);
  width: 47px;
  height: 40px;
  text-align: center;
  background: linear-gradient(45deg, #5600f7, #d401f0);
  right: -24px;
  top: -46px;
  transition: 0.18s;
  opacity: 0;
}
.Skills .skills-Details .progress-width:hover::before {
  opacity: 1;
}
.Skills .head {
  font-size: 31px;
  font-weight: 700;
}
.Skills .info {
  font-size: 19px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7019607843);
}
.Skills .Image-Card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Skills .Image-Card .img-fluid {
  width: 100%;
}
@media (max-width: 767px) {
  .Skills {
    margin-top: 45px;
  }
  .Skills .container {
    max-width: 97%;
  }
  .Skills .Image-Card {
    margin: 45px 0px;
  }
}/*# sourceMappingURL=globals.css.map */